fastapi
uvicorn
python-multipart
opencv-python-headless
numpy<2.0.0,>=1.26.0
pandas
lxml
ultralytics
paddlepaddle==2.6.2
paddleocr==2.7.3
vietocr
torch
torchvision
torchaudio
pillow
PyMuPDF
requests
streamlit
rapidfuzz
scikit-learn